/* common css start */
body{
    margin: 0;
    font-family: Playfair Display, serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/* common css end*/


/*header css start*/
header{
    padding: 25px 0;
}

.container{
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}

.logo{
    margin-top: 13px;
    width: 10%;
    float: left;
}

.logo img{
    width: 100%;
}

.menu{
    width: 75%;
    float: right;
}

.menu ul{
    float: right;
}

.menu ul li{
    list-style: none;
    float: left;
}

.menu ul li:last-child a{
    margin-right: 0;
}
  
.menu ul li a{
    display: inline-block;
    text-decoration: none;
    margin: 0 60px;
    color: #626262;
    border-bottom: 1px solid transparent;
    transition: .33s ease;
}

.menu ul li a:hover{
    border-bottom: 1px solid #626262;
    color: tomato;
}
/*header css end*/



/*banner css start*/
.container{
    margin: 0 auto;
    text-align: center;
}

.b_img{
    margin: 0 auto;
}

.b_img img{
    width: 100%;
}
/*banner css end*/



/* weekend css start */
.weekend{
    padding: 80px 0;
}

.container2{
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

.c_tag{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.c_title{
    margin: 15px 0 25px;
    font-size: 30px;
    font-weight: 400;
}

.c_text{
    margin: 0;
    line-height: 24px;
}

.mb_45{
    margin-bottom: 45px;
}

/* weekend css end */



/* blog css start */
.blog{
    padding: 0 0 80px;
}

.s_blog{
    margin-top: 80px;
    width: 47%;
    float: left;
    box-sizing: border-box;
}

.s_img{
    margin-bottom: 20px;
}

.s_img img{
    width: 100%;
}

.s_blog:nth-child(even){
    margin-left: 6%;
}
/* blog css end */



/* form css start */
.news{
    background-color: #f0f0f0;
    padding: 70px 0;
}

.signup{
    text-align: center;
}

.s_h1{
    color: #333;
    margin-top: 0;
    margin-bottom: 70px;
}

.s_form{
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.s_form input{
    font-family: 'Playfair Display' , serif;
    color: #626262;
    font-size: 14px;
    width: 345px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 45px;
}

.s_form input:focus{
    outline: 0;
}

.s_form button{
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    top: 15px;
    right: 0;
}

.s_form button:focus{
    outline: 0;
}
/* form css end */


 /*load button start */
.load{
    margin-top: 50px;
    text-align: center;
}

.container4 a{
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #626262;
    border: 1px solid #626262;
}
 /*load button end */



/* footer css start */
.footer{
    margin-top: 130px;
    width: 100%;
    height: 100px;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container3{
    width: 80%;

    overflow: hidden;
}

.term{
    width: 20%;
    float: left;
}

.term a{
    text-decoration: none;
    color: #505050;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
}

.follow{

    width: 15%;
    float: right;
    text-align: right;
}

.follow a{
    text-decoration: none;
    color: #505050;
    font-size: 15px;
    font-weight: 600;
    margin-left: 15px;
}
/* footer css end */